<div class="home-container d-flex flex-column">
  <div class="header-container">
    <app-header></app-header> <!-- Componente de cabeçalho -->
  </div>
  <div class="content-wrapper d-flex flex-grow-1">
    <div class="sidebar-container">
      <app-sidebar></app-sidebar> <!-- Componente de sidebar -->
    </div>
    <div class="main-content-container flex-grow-1 p-4">
      <router-outlet></router-outlet> <!-- Conteúdo principal das rotas -->
    </div>
  </div>
  <div class="footer-container">
    <app-footer></app-footer> <!-- Componente de rodapé -->
  </div>
</div>