.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Garante altura total da viewport

    .header-container {
        flex-shrink: 0;
    }

    .content-wrapper {
        display: flex;
        flex-grow: 1;
        overflow: hidden; // Evita que o conteúdo exceda o espaço disponível
    }

    .main-content-container {
        flex-grow: 1;
        overflow-y: auto; // Permite rolagem caso o conteúdo exceda a altura disponível
    }

    .footer-container {
        flex-shrink: 0;
    }
}