.header-container {
    background-color: #343a40; // Tom escuro para o fundo
    color: #e0d5c2; // Cor de texto em tom bege claro
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Sombra para destaque

    .logo-section {
        h1 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #ffffff; // Branco puro para contraste
        }

        p {
            font-size: 0.875rem;
            color: #d4a373; // Tom marrom claro para o subtítulo
        }
    }

    .nav-section {
        button {
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: #d4a373; // Cor de destaque no hover
                color: #343a40; // Cor de texto no hover
            }
        }
    }
}