.feedback-container {
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    &.feedback-success {
        background-color: #d4edda; // Verde claro
        color: #155724; // Verde escuro
        border: 1px solid #c3e6cb;
    }

    &.feedback-error {
        background-color: #f8d7da; // Vermelho claro
        color: #721c24; // Vermelho escuro
        border: 1px solid #f5c6cb;
    }

    &.feedback-info {
        background-color: #d1ecf1; // Azul claro
        color: #0c5460; // Azul escuro
        border: 1px solid #bee5eb;
    }

    &.feedback-warning {
        background-color: #fff3cd; // Amarelo claro
        color: #856404; // Amarelo escuro
        border: 1px solid #ffeeba;
    }
}