<div class="footer-container">
    <div class="footer-content">
        <p>{{ footerText }}</p>
        <p>{{ companyText }}</p>
    </div>
    <div class="contact-info">
        <div class="location">
            <h4>Matriz</h4>
            <p>{{ matriz.endereco }}</p>
            <p>CEP: {{ matriz.cep }}</p>
            <p>Telefone: {{ matriz.telefone }}</p>
        </div>
        <div class="locations" *ngFor="let filial of filiais">
            <h4>Filial</h4>
            <p>{{ filial.endereco }}</p>
            <p>CEP: {{ filial.cep }}</p>
            <p>Telefone: {{ filial.telefone }}</p>
        </div>
    </div>
    <div class="social-icons">
        <a [href]="facebookLink" target="_blank"><i class="bi bi-facebook"></i></a>
        <a [href]="instagramLink" target="_blank"><i class="bi bi-instagram"></i></a>
        <a [href]="linkedinLink" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a [href]="whatsappLink" target="_blank"><i class="bi bi-whatsapp"></i></a>
    </div>
</div>