// Variáveis globais de cores para o projeto
$primary-bg: #2c2c2c; // Cor de fundo marrom escuro
$primary-text: #e0d5c2; // Cor do texto bege claro
$hover-bg: #d4a373; // Cor marrom claro para hover
$hover-text: #2c2c2c; // Cor do texto escuro para contraste
$box-shadow-color: rgba(0, 0, 0, 0.5); // Cor da sombra
$border-color: #d4a373; // Cor da borda dourada
$light-shadow: rgba(212, 163, 115, 0.4); // Sombra leve com o hover color

.sidebar-container {
    background-color: $primary-bg;
    color: $primary-text;
    padding: 20px;
    border-right: 3px solid $border-color;
    box-shadow: 2px 0 10px $box-shadow-color;
    position: relative;
    height: 100%;
    overflow-y: auto;

    .nav-link {
        color: $primary-text;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.3s;

        &:hover {
            background-color: $hover-bg;
            color: $hover-text;
            box-shadow: 0 4px 8px $light-shadow;
        }

        &.active {
            background-color: $hover-bg;
            color: $hover-text;
            border-color: $border-color;
        }
    }

    .navbar-toggler {
        border: none;
        background: transparent;
        color: $primary-text;
        font-size: 24px;

        &:focus {
            outline: none;
        }
    }

    @media (max-width: 768px) {
        .collapse {
            display: none;
        }

        .collapse.show {
            display: block;
        }
    }
}