$primary-bg: #2c2c2c; // Cor de fundo marrom escuro
$primary-text: #e0d5c2; // Cor do texto bege claro
$hover-bg: #d4a373; // Cor marrom claro para hover
$hover-text: #2c2c2c; // Cor do texto escuro para contraste
$box-shadow-color: rgba(0, 0, 0, 0.5); // Cor da sombra

.sidebar-container {
    background-color: $primary-bg;
    color: $primary-text;
    height: 100%; // Ajuste para que a sidebar ocupe o espaço máximo permitido
    max-height: calc(100vh - 60px); // Garante que a sidebar respeite a altura do footer (60px = altura do footer)
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 10px $box-shadow-color; // Sombra para destacar a sidebar
    position: fixed; // Fixa a barra na esquerda da tela
    top: 0;
    left: 0;
    z-index: 1000; // Garantir que esteja sobre outros elementos
    overflow-y: auto; // Adicionar rolagem se o conteúdo for maior que a altura disponível

    .nav-item {
        margin-bottom: 15px;
        transition: all 0.3s ease;
    }

    .nav-link {
        color: $primary-text;
        font-size: 16px;
        padding: 12px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease;
        background: transparent;

        i {
            margin-right: 10px;
            font-size: 18px; // Tamanho do ícone
        }

        &:hover {
            background-color: $hover-bg;
            color: $hover-text;
            box-shadow: 0 4px 8px $box-shadow-color; // Sombra ao passar o mouse
        }
    }

    .nav-link.active {
        background-color: $hover-bg;
        color: $hover-text;
        box-shadow: 0 4px 8px $box-shadow-color;
    }
}

// Responsividade - Mobile First
@media (max-width: 768px) {
    .sidebar-container {
        width: 200px;
        padding: 15px;
    }

    .nav-link {
        font-size: 14px;
        padding: 10px;
    }

    i {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .sidebar-container {
        width: 150px;
        padding: 10px;
    }

    .nav-link {
        font-size: 12px;
        padding: 8px;
    }

    i {
        font-size: 14px;
    }
}